* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: orange;
    position: fixed;
    z-index: 1;
    width: 100%;
}

main {
    padding-top: 70px;
}
/*LAYOUT CLASSES*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.col-33 {
    width: calc(100% / 3);
}

.content-header {
    margin: 10px;
}

.images {
    position: relative;
}

.images img {
    width: 100%;
}

.visible-image {
    display: block;
}

.hidden-image {
    display: none;
}

.content {
    margin: 10px;
    
}

.brand-name {
    font-size: 15px;
    font-weight: 300;
    
}

.article-name {
    text-transform: uppercase;
}

/* PAGE STYLES */

.list-unstyled {
    list-style-type: none;
    padding-top: 10px;

}

.text-red {
    color: red;
    margin-right: 10px;
}

.text-deleted {
    text-decoration: line-through;
}

.list-unstyled li {
    display: inline-block;
    padding: 0px 15px;
}

.list-unstyled li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.content-header img {
    width: 200px;
}

.content-header i {
    color: white;
    margin: 0px 5px;
    padding-top: 10px;
}

/*UTILITY CLASSES*/

.text-center {
    text-align: center;

}

.text-right {
    text-align: right;
}